<div class="space-y-8 flex flex-col items-center h-full">
  <!-- Guess input -->
  <div class="flex gap-2 w-full">
    <input
      type="number"
      placeholder="Enter number"
      class="input flex-1"
      [class]="{ 'input-error': isCorrect() === false }"
      [(ngModel)]="guess"
    />
    <button
      class="btn btn-primary"
      [disabled]="!practiceService.canGuess()"
      (click)="onGuess()"
    >
      Guess
    </button>
    <button class="btn btn-secondary" [disabled]="!practiceService.canGuess()" (click)="onSkip()">
      Skip
    </button>
  </div>

  <!-- Guessed numbers -->
  <ul class="list w-full max-h-40 overflow-y-auto">
    @for (number of reversedGuessedNumbers(); track $index) {
      <app-guessed-number [guessedNumber]="number"/>
    }
  </ul>
</div>
<h1 class="mt-20">Current number: {{ currentQuestion()?.number }}</h1>
