<div class="p-4 flex flex-col items-center w-full h-full justify-center gap-20 ">
  <div class="text-center">
    <h1 class="text-3xl sm:text-5xl font-bold mb-5">Practice numbers in <span class="text-cyan-600">60</span> languages</h1>
    <p class="sm:text-xl opacity-90">Simple drills to improve your listening skills</p>
  </div>
  <form
    (ngSubmit)="onSubmit()"
    class="flex flex-col items-center gap-6 max-w-148 w-full  sm:pb-48"
  >
    <div class="flex flex-col sm:flex-row gap-6 justify-between w-full">
      <div class="flex-1">
        <app-select-language (languageChange)="onLanguageChange($event)" [isValid]="isLanguageValid()" />
      </div>
      <app-select-number-range
        class="flex-1"
        (numberRangeChange)="onNumberRangeChange($event)"
      />
    </div>

    <button
      class="btn btn-primary rounded-4xl w-full"
      [disabled]="languageService.isLoading()"
    >
      Practice!
    </button>
  </form>
</div>

<!-- voice and accent -->
