<div class="p-4 grid place-items-center w-full h-full">
  <form
    (ngSubmit)="onSubmit()"
    class="flex flex-col items-center my-auto pb-16 space-y-6 max-w-148 w-full"
  >
    <div class="flex flex-col sm:flex-row gap-6 justify-between w-full">
      <div class="flex-1">
        <app-select-language (languageChange)="onLanguageChange($event)" />
      </div>
      <app-select-number-range
        class="flex-1"
        (numberRangeChange)="onNumberRangeChange($event)"
      />
    </div>

    <button
      class="btn btn-primary rounded-4xl w-full"
      [disabled]="languageService.isLoading()"
    >
      Practice!
    </button>
  </form>
</div>

<!-- voice and accent -->
