@if (isFirstLoad()) {
<div class="text-center w-full h-full flex flex-col items-center justify-center">
  <span class="loading loading-bars loading-xl"></span>
</div>
} @else {
<div class="flex flex-col sm:items-center px-2 sm:px-0 justify-center w-full h-full mt-2 sm:mt-0 sm:pb-16">
  <div class="sm:w-96">
    <!-- Audio -->
    <app-audio
      [audioUrl]="currentQuestion()?.audio"
      class="w-full flex justify-center pb-8"
    />
    <div class="flex justify-between mb-2 items-center">
      <!-- Volume -->
      <app-volume />

      <!-- Settings and Streak -->
      <div class="flex items-center gap-2">
        <app-streak />
        <app-settings (settingsChange)="getNewQuestion()" />
      </div>
    </div>
    <!-- Guessing -->
    <app-guess (guessed)="getNewQuestion()" class="w-full" />
  </div>
</div>
}
